/* .home {
  flex: 1;
  padding: 20px 16px;
  padding-bottom: calc(var(--footer-height) + 20px);
  overflow-x: hidden;
}

.funcionCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
} */


.home {
  flex: 1;
  padding: 24px 24px;
  padding-bottom: calc(var(--footer-height) + 24px);
  overflow-x: hidden;
}

.funcionCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}