body {
  background-color: white;
  color: black;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.funcionCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.funcionCard div {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background-color: #f5f5f5;
}